<div>
    <div class="background-secondary">
        <div class="background-primary">
        </div>
    </div>
    <div class="content-wrapper">
        <div class="mt-6 mr-6 flex justify-content-end">
            <a href="/countries" class="link font-medium">Countries & Currencies</a>
        </div>
        <header class="pricing-header flex flex-column align-items-center gap-3
            text-center">
            <span class="overline font-medium text-xs">{{ "pricing plans" | uppercase}}</span>
            <h1 class="title text-white">Get the Best Option Now</h1>
            <p role="doc-subtitle" class="subtitle text-lg line-height-3">
                The informative, and brief subheading that builds the interest around the created product. The copy encourages user to discover it.
            </p>
        </header>
        <ul class="price-cards-container flex-wrap">
            @for (card of cards(); track card.id) {
                <li>
                    <price-card [card]="card"></price-card>
                </li>
            }
        </ul>
    </div>
</div>