@import "../../../variables.scss";

.background-primary {
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 97%);
    background: $bg-primary;
    min-height: 60vh;
    position: relative;
    @media only screen and (max-width: 767px) {
        min-height: 30rem;
    }
}

.background-secondary {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    background: $bg-secondary;
    min-height: 50vh;
    position: relative;
    @media only screen and (max-width: 767px) {
        min-height: 30rem;
    }
}

.content-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10rem 5rem 5rem 5rem;

    @media only screen and (max-width: 767px) {
        padding: 5rem 1rem 5rem 1rem;
    }
}

.pricing-header {
    padding-bottom: 5rem;

    .subtitle {
        max-width: 50%;
        color: $text-secondary;
        letter-spacing: 0.5px;
    }

    .overline {
        letter-spacing: 1.5px;
        color: $text-secondary;
    }

    @media only screen and (max-width: 767px) {
        padding-bottom: 2rem;

        h1 {
            font-size: 1.5rem;
        }

        .subtitle {
            max-width: 100%;
        }
    }
}


.price-cards-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 5rem;
    @media only screen and (max-width: 767px) {
       flex-direction: column;
    }
}


ul {
    list-style: none;
}