<div class="countries-wrapper">
    <div class="content-wrapper m-7 py-6 px-7">
        <header class="pb-3">
            <h1 class="text-3xl line-height-4">Countries & Currencies</h1>
            <p role="doc-subtitle" class="subtitle text-sm line-height-2">
                You can easily manage your countries on this page
            </p>
        </header>
        <p-divider />
        <div class="content flex">
            <div class="settings col-4">
                <h5 class="font-medium text-lg line-height-2 mb-3">Countries</h5>
                <span class="settings-description line-height-2">Manage your countries in this project</span>
            </div>
            <div class="table col-8">
                
            </div>
        </div>
    </div>
</div>