@import 'primeflex/primeflex.scss';
@import 'primeflex/themes/primeone-light';
@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';
@import './variables.scss';


* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background-color: #ffffff;
}
  
h1, h2, h3, h4, h5, p {
    margin: 0;
}

.p-chip {
    background-color: $primary;
    color: #ffffff;
    letter-spacing: 0.25px;
}

.highlight-btn .p-button{
    background-color: $primary;
    border-color: $primary;
    color: #ffffff;
}
  
.btn .p-button{
    background-color: $secondary;
    border-color: $secondary;
    color: $primary;
}

.highlight-btn:hover .p-button:hover {
    background-color: $bg-primary;
    border-color: $bg-primary;
}
  
.btn:hover .p-button:hover {
    background-color: darken($secondary, 10%);
    border-color: darken($secondary, 10%);
}