<div class="card bg-white flex flex-column align-items-center">
    <div class="card-header flex flex-column align-items-center gap-3">
        <i class="pi pi-star star-icon"></i>
        <h4 class="text-xl font-semibold line-height-3">{{ card().option }}</h4>
        <h2 class="text-6xl">{{ card().price }}</h2>
        <span class="option-description line-height-3">{{ card().description }}</span>
        @if (card().label) {
            <p-chip styleClass="px-3 my-2 p-chip text-sm" [label]="card().label" />
        }
    </div>
    <hr>
    <ul class="flex flex-column gap-3">
        @for (benefit of card().benefits; track benefit) {
            <li class="line-height-3">
                <i class="pi" [ngClass]="benefit.status === 'INCLUDED' ? 'pi-check check-icon' : 'pi pi-minus minus-icon'"></i>
                {{ benefit. label }}
            </li>
        }
    </ul>
    <div class="w-full mt-5">
        <p-button 
        [ngClass]="{'highlight-btn': card().isHighlighted , 'btn':!card().isHighlighted}" 
        [style]="{'width':'100%'}" 
        label="Get started"></p-button>
    </div>
</div>